body {
    background-color:royalblue;
    overflow: hidden;
}

h1{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;

    margin-left:20px;
}

p {
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight:normal;

    margin-left:20px;
}

a[target=dontrun]:link, a[target=dontrun]:visited {
    background-color:dodgerblue;
    border:3px solid white;
    padding:10px 20px;
    text-align:center;
    display:inline-block;
    color:white;
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;

    position:absolute;
    right:50px;
    bottom:50px;


}


a[target=dontrun]:hover, a[target=dontrun]:active {
    background-color:white;
    color:black;
}



a[target=runanyway]:link, a[target=runanyway]:visited {
    background-color:dodgerblue;
    border:3px solid white;
    padding:10px 20px;
    text-align:center;
    display:inline-block;
    color:white;
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;

    position:absolute;
    right:200px;
    bottom:50px;


}

a[target=runanyway]:hover, a[target=runanyway]:active {
    background-color:white;
    color:black;
}



#info {
    text-decoration:none;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left:20px;
}

#info:hover {
    text-decoration:underline;
    cursor:pointer;
}
