h1 {
    font-size:48px;
    font-family:Calibri, Haettenschweiler, 'Arial Narrow Bold', serif;
    text-align:left;
    text-shadow: 5px 5px navy;
    background-color:salmon;
    color:blue;
    font-weight:bold;
}

body {
    background-color:whitesmoke;
}

img {
    border-color:lightcoral;
    border-width:5px;
    border-style: groove;
}

input[type=text], select, textarea {
    border: 5px solid silver;
    width:200px;
    height:10px;
    background-color: white;
    text-align: left;
    padding:10px;
    margin:20px;
}

.container {
    border-radius:5px;
    background-color:lavender;
    padding:20px;
}


a[target=submit]:link, a:visited {
    background-color:limegreen;
    padding:10px 20px;
    text-align:left;
    display:inline-block;
    color:white;
    text-decoration:none;
}

a[target=submit]:hover, a:active {
    background-color:green;
    color:white;
}

p {
    font-size:20px;
    color:darkblue;
}






/* The Modal (background) */
.defender {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .defender-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    width: 720px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
  }
  
  .close:hover,
  .close:focus {
    background-color:royalblue;
    text-decoration: none;
    cursor: pointer;
  }
  
  .defender-header {
    padding: 2px 16px;
    background-color:dodgerblue;
    color: white;
    font-size:20px;
  }
  
  .defender-body {
    padding: 2px 16px;
    margin-top:16px;
    color:midnightblue;
}
  
  .defender-footer {
    padding: 16px 16px;
    background-color:whitesmoke;
    color: white;
  }

.ms-text {
    font-size:24px;
    color:black;
    font-weight:lighter;
    line-height:32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a[target=button]:link, a[target=button]:visited {
    background-color:dodgerblue;
    padding:16px;
    text-align:center;
    color:white;
    text-decoration:none;
    text-shadow:none;
    font-size:24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block;
  }
  
  a[target=button]:hover, a[target=button]:active {
    background-color:royalblue;
    color:white;
  }