/*the blue containers*/
.container {
    border-radius: 32px;
    background: dodgerblue;
    width:512px;
    height: auto;
    margin:auto;
    padding:16px;
    padding-left:64px;
    padding-right:64px;
    margin-top:32px;
}

/*the header of the form*/
h1 {
    font-size:24px;
    font-weight:normal;
    text-align:center;
}

/**/
body {
    background:
    linear-gradient( to right,
        ghostwhite,
        white,
        ghostwhite
    );
height:100%;

}

p {
    font-size: 16px;
    color:black;
    font-weight:lighter;
    line-height:24px;
    font-weight:normal;

}


.whitebox {
    background-color:whitesmoke;
    border-radius:16px;
    margin:0;
    padding:16px;
    padding-left:24px;
    padding-right:24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.qacollapsible {
    background-color:rgb(51, 92, 226);
    color: white;
    cursor: pointer;
    padding: 16px;
    width:100%;
    height:auto;
    border-radius:16px;
    border:none;
    outline: none;
    font-size: 20px;
}
  
    
.qacollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.qaactive:after {
    content: "\2212";
}
  
.qacollapsible:hover {
    background-color:rgb(30, 45, 182);
}
    
    
.qacontent {
    max-height:0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
    margin:auto;
}

.qacontent > p {
    margin-top:8px; 
}



label {
    margin-left:8px;
    font-size:20px;
    font-weight:normal;
}


input {
    width:448px;
    padding:8px;
    margin:auto;
    font-size:16px;
    border:none;
    background-color:whitesmoke;
    border-bottom:2px solid midnightblue;
    margin-top:48px;
    color:black;
    margin-bottom:16px;
}


.centre {
    margin:auto;
    display:block;
    width:640px;
    margin-top:32px;
}


.submit, .submit:visited {
    background-color:rgb(158, 64, 167);
    padding:16px 32px;
    text-align:center;
    display:inline-block;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
}

.submit:hover, .submit:active {
    background-color:rgb(91, 36, 112);
    color:white;
    cursor:pointer;
}










/* The Modal (background) */
.tos {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .tos-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    width: 720px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
  }
  
  .close:hover,
  .close:focus {
    background-color:royalblue;
    text-decoration: none;
    cursor: pointer;
  }
  
  .tos-header {
    padding: 2px 16px;
    background-color:dodgerblue;
    color: white;
    font-size:20px;
  }
  
  .tos-body {
    padding: 2px 16px;
    margin-top:16px;
    color:midnightblue;
}

.tos-body > p {
    font-size:20px;
}

.tos-body > p > a {
    color:mediumblue;
    text-decoration:none;
    font-weight:bolder;
}

.tos-body > p > a:hover {
    text-decoration:underline;
    color:cyan;
}
  
  .tos-footer {
    padding: 2px 16px;
    background-color:whitesmoke;
    color: white;
  }