body {
    background:
        linear-gradient(
            rgb(33, 32, 34),
            dodgerblue,
            rgb(33, 32, 34)
        );
    height:100%;

}

p {
    color:white;
    font-size:20px;
    text-shadow:2px 2px 3px dimgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.title {
    display:block;
    margin:auto;
}


.slogan {
    margin:auto;
    top:128px;
    color:white;
    text-shadow:5px 5px 5px dimgray;
    text-align:center;
}

.cosmetic {
    box-shadow:5px 5px 10px lightgray;

    margin:20px;

    text-align:center;

    width:256px;
    z-index:-1;
    display:inline-block;
}

  
.row {
    display:table;
    margin:auto;
    margin-top: 160px;
}

.row > div {
    display:inline-block;
}


a[target=cosmetics] {
    background:
        linear-gradient(
            to right,
            rgb(33, 32, 34),
            rgb(33, 32, 34)
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
            background-size: 100% 5px, 0 5px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
  }

a[target=cosmetics]:hover {
    background-size: 0 5px, 100% 5px;
}

#cosmeticlink {
    font-size:24px;
    color:rgb(220, 242, 243);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    text-shadow:5px 5px 5px black;
    display:flexbox;
}


.box {
    margin:auto;
    background-color:darkslateblue;
    padding:10px;
    border: 10px rgb(44, 44, 85) solid;
    box-shadow:2px 2px 5px black;
    width:216px;
    bottom:-80px;
    margin-left:20px;
}

.box:hover {
    box-shadow:10px 10px 10px black;
}

.download_icon {
    display:inline-block;
    margin-left:10px;
    width:32px;
    vertical-align:middle;
}

.imgtext {
    margin:auto;
    font-size:20px;
    color:navy;
    text-shadow:5px 5px 5px blue;
    z-index:2;

    -webkit-text-stroke: 2px white;
    bottom:50%;
    margin-left:20px;
    text-align:center;
}


.robuxbox{
    padding:10px;
    border: 10px midnightblue solid;
    box-shadow:2px 2px 5px black;
    width:400px;
    margin:auto;
    text-decoration:none;

    margin-top:80px;

    
    background:
        linear-gradient(
            to right,
            lawngreen,
            lawngreen
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
            background-size: 100% 100%, 100% 100%;
            background-position: 100% 100%, 100% 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
}

.robuxbox:hover {
    box-shadow:10px 10px 10px black;
    background-size: 0% 100%, 100% 100%;  
}

.robuxbox > a {
    text-decoration:none;
    color:white;
    text-shadow:5px 5px 5px darkgreen;
    -webkit-text-stroke: 2px black;
}

.arrow {
    margin:auto;
    display:block;
    margin-top:128px;
    width:128px;
}

.bottomimages {
    width:256px;
    display:inline-block;
    margin-top:0;
    margin-top:auto;
    margin-bottom:auto;
    position:relative;
}

.comment {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:24px;
    font-weight:bolder;
    margin-top:-400px;
}


footer {
    background:
        linear-gradient(
            rgb(41, 170, 15),
            rgb(4, 87, 25)
        );
    height:128px;
    margin-top:182px;
    bottom:0px;
}

.social_logo {
    width:64px;
    display:inline-block;
    margin:20px;
    margin-top:0;
}

  .social_logo:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.centerdiv {
    margin:auto;
    display:table;
}


/*for 110% (on chrome) on my 1920x1080 pixel laptop, should be compatible with the school laptop*/
@media screen and (max-width: 1408px) {
    .cosmetic {
        width:208px;
        height:auto;
    }

    .imgtext {
        font-size:18px;
    }

    p {
        font-size:16px;
    }

    .box {
        width:168px;
        padding:6px;
    }
}